p {
    margin: 0;
}
  
h2 {
    margin: 0 0 5px 0;
}
  
.container {
    max-width: 600px;
    margin: 0 auto;
}
  
.dot__logo {
    height: 40px;
    width: 40px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}
  
.container-one {
    max-width: 1500px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.header__right {
    display: flex;
    align-items: center;
}
  
.header__name {
    margin-left: 5px;
    width: 50px;
    height: 20px;
    background-color: #000000;
}
  
.header__left {
    display: flex;
    align-items: center;
}
  
.container-one__rectangle-nav {
    margin-right: 5px;
    width: 50px;
    height: 20px;
    background-color: #000000;
}
  
.container-two {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px 0;
}
  
.legend {
    max-width: 50%;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: gray;
}
  
.logo {
    display: flex;
}
  
.logo__main {
    height: 200px;
    width: 200px;
    background-color: #000000;
    border-radius: 50%;
}
  
.container_three {
    display: flex;
    justify-content: space-between;
}
  
.container-three__images {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.container-three__content {
    width: 160px;
    height: 100px;
    background-color: #000000;
    margin-bottom: 20px;
}
  
.container-three__mid {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    font-size: 12px;
    margin: 0 10px 0 10px;
}
  
.container-three__mid-text {
    display: flex;
    flex-direction: column;
}
  
.container-three__combined {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 33%;
    font-size: 10px;
    margin: 0 0 0 10px;
}
  
.container-three__combined-text {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 10px 10px 20px;

}
  
.container-three__combined_square {
    width: 30px;
    height: 30px;
    background-color: #000000;
}
  
.container-three__block {
    display: flex;
    align-items: flex-start;
    width: 350px;
    height: 100%;
  }
  
